_CPack_Packages/
CMakeFiles/
CMakeScripts/
bin/
include/
lib/
man/
src/
tmp/

CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
install_manifest.txt
*-config-version.cmake
*-config.cmake
*.tar.bz2
